input.AutoCompleteInput {
	border: 1px solid #999;
	padding: 0.5rem;
	/*width: 300px;*/
}

.no-suggestions {
	color: #999;
	padding: 0.5rem;
}

li.collection-item {
	padding: 0.5rem;
}

li.collection-item:hover {
	background-color: #2980b9;
	color: #2c3e50;
	cursor: pointer;
	font-weight: 700;
}

.suggestions li:not(:last-of-type) {
	border-bottom: 1px solid #999;
}
